#logo {
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 9999;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, Times, serif;
    color: #2f1eca;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #222222;
    font-size: 20px;
    line-height: 1.5;
    
}


header {
    position: relative;
}

h1 {
    position: absolute;
    width: 100%;
    top: 1em;
}



h3 {
    color: #3c0bc4;
    padding-left: 25px;
}

form {
    width: 100%;
    
}

label {
    display: inline;
}


button {
    color: white;
    background-color: #2e13a4;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid #5d09e4;
}


button:hover {
    background-color: white;
    color: #A45C13;
}

button {
    padding: 0.25em 0.5em
}



h3 {
    font-size: 0.75em
}

@media (max-width: 60em) {
    h1 {
        font-size: 1.5em;
        top: 1.5em;
    }
}


@media (max-width: 42.5em) {
    h1 {
        top: 0.75em;
    }
}


@media (max-width: 26em) {
    body {
        margin: 0;
    }

    

    h1 {
        font-size: 1em;
        top: 2em;
    }
}

@media (max-width: 18em) {
    

    h1,
    h2 {
        font-size: 0.8em;
    }

    h3 {
        padding: 0;
        background-image: none;
    }

    
}

/** Added/Updated CSS **/
@media (max-width: 50em) {
    form {
        width: 100%;
    }
}

@media (max-width: 26em) {
    .textfield {
        width: 100%;
    }
}



