.container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.hidden {
  display: none;
}

img {
  margin-left: 30em;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
  white-space: nowrap;
}

#totalTips {
  margin-left: 6em;
}